/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-family: Georgia, serif;
  font-size: 10pt;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
  text-decoration: none;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }
  
  ul.posts li.post {
    list-style-image: url('/images/calendar.png');
    list-style-position: inside;
  }

  ul.posts span {
    color: #aaa;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 800px;
  margin: 2em auto 1em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-size: 170%;
  font-weight: bold;
  margin-bottom: 1em;
}

  .site img.header {
    border-style: none;
    margin-bottom: 2em;
  }

  .site .title a {
    color: #a00;
    text-decoration: none;
  }
  
  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }
  
  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    font-size: 80%;
    color: #666;
    border-top: 1px solid #666;
    margin-top: 2em;
    overflow: hidden;
  }
  
    .site .footer .contact {
      float: left;
      margin-right: 3em;
      width: 350px;
    }
    
    .site .footer .social {
      float: left;
      margin-right: 3em;
      width: 300px;
    }
    
      .site .footer a {
        color: #8085C1;
      }
    
    .site .footer .rss {
      margin-top: 1.1em;
      margin-left: -1em;
      float: right;
    }
    
      .site .footer .rss img {
        border: 0;
      }
    
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  
}

  /* standard */
  
  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }
  
  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0 .2em;
  }
  
    #post pre code {
      border: none;
    }
    
  /* terminal */
  
  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }
  
  #post pre.terminal code {
    background-color: #333;
  }
  
#actions {
  margin-top: 1em;
}

#related {
  margin-top: 0.5em;
}

  #related h2 {
    margin-bottom: 1em;
  }