.btn.danger, .btn.danger:hover, .btn.error, .btn.error:hover, .btn.success, .btn.success:hover, .btn.info, .btn.info:hover,
.alert-message.danger,
.alert-message.danger:hover,
.alert-message.error,
.alert-message.error:hover,
.alert-message.success,
.alert-message.success:hover,
.alert-message.info,
.alert-message.info:hover {
  color: white; }
.btn.danger, .btn.error,
.alert-message.danger,
.alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%); }
.btn.success,
.alert-message.success {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%); }
.btn.info,
.alert-message.info {
  background-color: #339bb9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%); }

html, body {
  background: #333333 url("/images/linen.jpg") 0 0 no-repeat; }

body #plusone {
  position: fixed;
  bottom: 7px;
  left: 15px; }
body div#container {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 380px;
  margin: auto; }
body #social-icons {
  text-align: center;
  list-style-type: none;
  margin: 15px 20px 15px 20px;
  height: 36px; }
body #social-icons li {
  list-style: none;
  margin-top: -24px;
  margin-right: 10px;
  display: inline-block; }
body #social-icons li a {
  display: block;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  background: url(/images/icon-sprite.png); }
body #social-icons li a.skype {
  background-position: 0px 0px; }
body #social-icons li a.skype:hover {
  background-position: 0px 36px; }
body #social-icons li a.flickr {
  background-position: 185px 0px; }
body #social-icons li a.flickr:hover {
  background-position: 185px 36px; }
body #social-icons li a.twitter {
  background-position: 148px 0px; }
body #social-icons li a.twitter:hover {
  background-position: 148px 36px; }
body #social-icons li a.facebook {
  background-position: 111px 0px; }
body #social-icons li a.facebook:hover {
  background-position: 111px 36px; }
body #social-icons li a.linkedin {
  background-position: 74px 0px; }
body #social-icons li a.linkedin:hover {
  background-position: 74px 36px; }
body #social-icons li a.github {
  background-position: 37px 0px; }
body #social-icons li a.github:hover {
  background-position: 37px 36px; }
body a.work {
  float: right;
  margin-top: -55px;
  margin-right: 20px; }
