!!! 5
%html
  %head
    %title Dima Berastau
    %meta{:name => "description", :content => "Dima Berastau is a developer in Vancouver, BC, Canada specializing in web and mobile applications."}
    %meta{:name => "keywords", :content => "web design, web development, mobile, training, ruby, rails, objective-c, javascript, vancouver, bc, canada"}
    %link{:type => "image/x-icon", :rel => "icon", :href => "http://dima.github.com/favicon.ico"}
    
    {% include_css "/css/bootstrap.css" %}
    {% include_css "/css/style.css" %}
    {% include_js "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" %}
    {% include_js "/js/bootstrap-twipsy.js" %}
    {% include_js "/js/bootstrap-popover.js" %}
    {% include_js "/js/main.js" %}
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26902827-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    :javascript
      (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    #plusone
      .g-plusone{:data => {:size => 'standard'}}
    {{ content }}
