!!! 5
%html
  %head
    %title Dima Berastau
    %meta{:name => "description", :content => "riadrom is a design and development company in Vancouver specializing in web and mobile."}
    %meta{:name => "keywords", :content => "web design, web development, mobile, training, ruby, rails, objective-c, javascript, vancouver, berlin"}
    %link{:type => "image/x-icon", :rel => "icon", :href => "http://dima.github.com/favicon.ico"}
    
    {% include_css "/css/bootstrap.css" %}
    {% include_css "/css/style.css" %}
    {% include_js "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" %}
    {% include_js "/js/bootstrap-twipsy.js" %}
    {% include_js "/js/bootstrap-popover.js" %}
    {% include_js "/js/main.js" %}
    {% include_js ""https://apis.google.com/js/plusone.js" %}
  %body
    #plusone
      .g-plusone{:data => {:size => 'standard'}}
    {{ content }}
