<!DOCTYPE html>
<html>
  <head>
    <title>Dima Berastau</title>
    <meta content='dima berastau is a developer in Vancouver specializing in web and mobile applications.' name='description' />
    <meta content='web design, web development, mobile, training, ruby, rails, objective-c, javascript, vancouver' name='keywords' />
    <link href='http://dima.github.com/favicon.ico' rel='icon' type='image/x-icon' />
    {% include_css "/css/bootstrap.css" %}
    {% include_css "/css/style.css" %}
    {% include_js "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" %}
    {% include_js "/js/bootstrap-twipsy.js" %}
    {% include_js "/js/bootstrap-popover.js" %}
    {% include_js "/js/main.js" %}
    <script type='text/javascript'>
      //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26902827-1']);
        _gaq.push(['_trackPageview']);
        
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      //]]>
    </script>
  </head>
  <body>
    <script type='text/javascript'>
      //<![CDATA[
        (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      //]]>
    </script>
    <div id='plusone'>
      <div class='g-plusone' data-size='standard'></div>
    </div>
    {{ content }}
  </body>
</html>
