//= require_tree ./vendor
//= require_tree ./lib

@import "bourbon/bourbon";

* {
  @include box-sizing(border-box);
}

body {
  font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

#content {
  margin: 0 auto;
  max-width: 1024px;
  padding: 15px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99998;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  .close {
    z-index: 99999;
    color: #FFFFFF;
    position: absolute;
    right: -3px;
    text-align: center;
    top: 25px;
    height: 40px;
    width: 40px;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;
  }
}

.profile {
  display: block;
  margin: 40px auto 0 auto;
  border-radius: 50%;
  border: 4px solid #ddd;

  @media (max-width: 767px) {
    margin: 10px 10px 0 0px;
    height: 80px;
    width: 80px;
  }
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  margin: 0 0 40px 0;
  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #ddd;
    left: 50%;
    margin-left: -1.5px;
    z-index: -1;
  }
  > li {
    margin-bottom: 20px;
    position: relative;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    > {
      .timeline-summary {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 0 15px;
        position: relative;
        float: left;
        background-color: white;
      }
      .timeline-panel {
        width: 45%;
        float: left;
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 15px;
        position: relative;
        &:before {
          position: absolute;
          top: 26px;
          right: -15px;
          display: inline-block;
          border-top: 15px solid transparent;
          border-left: 15px solid #ddd;
          border-right: 0 solid #ddd;
          border-bottom: 15px solid transparent;
          content: " ";
        }
        &:after {
          position: absolute;
          top: 27px;
          right: -14px;
          display: inline-block;
          border-top: 14px solid transparent;
          border-left: 14px solid #fff;
          border-right: 0 solid #fff;
          border-bottom: 14px solid transparent;
          content: " ";
        }
      }
      .timeline-badge {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -25px;
        background-color: #ddd;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;

        &.work {
          // background-color: #2F3238 !important;
        }

        &.back-to-top {
          cursor: pointer;
          line-height: 45px;
        }
      }
    }
    &.timeline-inverted > .timeline-panel {
      float: right;
      &:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }
      &:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }
  }
}

.timeline-heading {
  h4 {
    margin: 0;
  }

  p {
    margin-top: 0;
  }

  .text-muted {
    color: #aaa;
  }
}

.timeline-body {
  > {
    p, ul {
      margin-bottom: 0;
      text-align: left;
    }
    p + p {
      margin-top: 5px;
    }
  }

  .screenshots {
    margin-top: 15px;
    margin-right: -5px;
    a {
      display: inline-block;
      margin-right: 1px;
      margin-bottom: 1px;

      img {
        border: 1px solid #aaa;
      }
    }
  }
}

@media (max-width: 767px) {
  ul.timeline {
    &:before {
      left: 40px;
    }
    > li > {
      .timeline-badge {
        left: 40px;
        &:not(.back-to-top) {
          i {
            display: none;
          }
          width: 15px;
          height: 15px;
          left: 32px;
          margin-left: 0;
          top: 35px;
        }
      }
      .timeline-panel {
        width: calc(100% - 60px);
        width: -moz-calc(100% - 60px);
        width: -webkit-calc(100% - 60px);

        float: right;
        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }
        &:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }
    }
  }

  .screenshots {
    img {
      height: 80px;
      width: 80px;
    }
  }
}

/*
 * STYLE 2
 */

.timeline.style2:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 0px;
}

ul.timeline.style2 {
  &:before {
    left: 40px;
  }
  > li > {
    .timeline-panel {
      width: calc(100% - 80px);
      width: -moz-calc(100% - 80px);
      width: -webkit-calc(100% - 80px);
    }
    .timeline-badge {
      left: 15px;
      margin-left: 0;
      top: 16px;
    }
    .timeline-panel {
      float: right;
      &:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }
      &:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }
  }
}