---
layout: default
---
			
#container
  %img{:src => "/images/header.png"}
  %ul#social-icons
    %li
      %a.skype.tooltip{:href => "skype:dima.berastau", :title => "We can chat on Skype", :rel => "popover", "data-content" => "Contact me on Skype if you'd like to discuss a project or get some help."} Chat with me on Skype
    %li
      %a.flickr.tooltip{:href => "http://www.flickr.com/photos/dima-berastau", :title => "I am on Flickr", :rel => "popover", "data-content" => "You can checkout my recent photos on Flickr"} I am on Flickr
    %li
      %a.twitter.tooltip{:href => "http://twitter.com/#!/dimaberastau", :title => "Become one of my followers", :rel => "popover", "data-content" => "Follow me on Twitter for the latest news"} Follow me on Twitter
    %li
      %a.facebook.tooltip{:href => "http://www.facebook.com/dima.berastau", :title => "Join me on Facebook", :rel => "popover", "data-content" => "Add me as a friend on Facebook ... if you actually know me that is :)"} Add me on Facebook
    %li
      %a.linkedin.tooltip{:href => "http://ca.linkedin.com/in/dimaberastau", :title => "Join me on LinkedIn", :rel => "popover", "data-content" => "You can join me on LinkedIn too"} Join me on LinkedIn
    %li
      %a.github.tooltip{:href => "http://github.com/dima", :title => "My GitHub Projects", :rel => "popover", "data-content" => "Check out my open source projects on GitHub. That's were all the action happens."} Checkout my GitHub profile
  