@import "tailwindcss";

body {
  font-family:
    system-ui,
    -apple-system,
    "Inter",
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.linkedin-button {
  background-color: #0e76a8;
}

.linkedin-button:hover {
  background-color: #0b5d8c;
}

.linkedin-button:hover .linkedin-circle {
  fill: #0b5d8c;
}
