#content
  = image_tag 'profile.jpg', :class => 'profile'
  %ul.timeline
    %li
      .timeline-summary
        %p
          Hi, my name is
          %strong Dima Berastau
          and I am full-stack web and mobile application developer currently based in
          %strong Whistler, BC, Canada.
          I've been involved in all aspects of sotware development for over 15 years. While I've started my career with big businesses
          such as SAP and RIM I've quickly gravitated towards start-ups where my ability to adapt and take on whatever technical challenges
          laid ahead could make a real difference. Currently my focus is on
          %strong Ruby on Rails and iOS Applications
          but my experience spans a wide range of technologies, languagues and platforms.
          My
          %i forté
          is taking a concept from idea to a fully working web/mobile product, sometimes with little to no external help.
        %p
          In some cases, I've been able to get V1 of a product to market by myself and then build an agile team to move the product forward
          in an attempt to gain customers and market share. In other cases, I've had to put months and months of work into a project only to
          realise that the concept doesn't have a product/market fit and would require a fundamental concept shift to work, if at all. In
          all cases, the market teaches you to pay attention to what you are doing. You just have to be ready to listen.
        %p
          As a result, my programming has evolved over time from
          %strong cowboy style
          \-
          %i let's try to build this or let's try to build that
          \-
          to what I like to call
          %strong samurai style
          \-
          %i take 1 shot and make it count.
          Start-ups are not all about success and fun. Not most of them anyway, but you do learn a lot of other things along the way.
          One thing I've learned is that my motivation to develop and deliver beautiful software is pure and I am sure I'll
          be doing this for a long time regardless of successes or failures that may come along the way.
        %p
          Get in touch if you think that I can help. While I am very selective about the projects I spend my time on now I am always open
          to giving and receiving feedback.
        %a#contact.email-me.button{:href => 'mailto:dima.berastau@gmail.com'}
          %i.fa.fa-2x.fa-envelope
    %li
      .timeline-badge.work
        %i.fa.fa-briefcase
      .timeline-panel
        .timeline-heading
          %h4 CTO, Karmasoft
          %p
            %small.text-muted
              %i.fa.fa-calendar-o
              Apr 2012 - Current
        .timeline-body
          %p
            Karmasoft is a complete yoga studio management software. I've developed the initial web version of the product and then helped
            put together a team to continue evolving it. I am involved in all apsects of the project from infrastructure to back-end and
            front-end development.
    %li.timeline-inverted
      .timeline-badge.work
        %i.fa.fa-briefcase
      .timeline-panel
        .timeline-heading
          %h4 CTO, Jiber Media
          %p
            %small.text-muted
              %i.fa.fa-calendar-o
              Sep 2012 - Sept 2013
        .timeline-body
          %p
            Jiber was an experimental iOS App (initially developed for iOS6) that helped you uncover a world of similarities you share
            with people you meet in the real world. I've developed the application (back-end and front-end) and was responsible for
            the infrastructure setup and maintenance.
    %li
      .timeline-badge.work
        %i.fa.fa-briefcase
      .timeline-panel
        .timeline-heading
          %h4 Ruby On Rails + iOS Developer
          %p
            %small.text-muted
              %i.fa.fa-calendar-o
              Jun 2009 - April 2012
        .timeline-body
          %p
            I have worked on a number of customer projects, primarily focusing on Ruby on Rails and iOS applications. I've also been
            advising various teams using Ruby on Rails and/or RestfulX to help them get over technical hurdles and improve their code.
    %li.timeline-inverted
      .timeline-badge.work
        %i.fa.fa-briefcase
      .timeline-panel
        .timeline-heading
          %h4 CTO, Ruboss
          %p
            %small.text-muted
              %i.fa.fa-calendar-o
              May 2008 - June 2009
        .timeline-body
          %p
            I have co-founded Ruboss with Peter Armstrong and a framework called RestfulX (The RESTful way of develop
            Adobe Flex and AIR application) was the result of our collaboration. We focused on customer projects and doing
            consulting using the open-source RestfulX framework as backbone.
          %p
            The framework utlimately became defunct as Adobe Flex/AIR market share dwindled and Adobe refocused their attention
            on pure HTML5 initiatives. Peter and I then parted ways to focus on different projects.
    %li
      .timeline-badge.work
        %i.fa.fa-briefcase
      .timeline-panel
        .timeline-heading
          %h4 Senior Developer, SAP
          %p
            %small.text-muted
              %i.fa.fa-calendar-o
              May 2007 - May 2008
        .timeline-body
          %p
            Participated in the development of Business Objects Voyager, a JavaScript/Ajax/ JSF-based Web 2.0 OLAP solution taking responsibility for several key subsystems.
    %li.timeline-inverted
      .timeline-badge
        %i.fa.fa-graduation-cap
      .timeline-panel
        .timeline-heading
          %h4 Master of Software Systems, UBC
          %p.last
            %small.text-muted
              %i.fa.fa-calendar-o
              May 2007
    %li
      %a#back-to-top-button.timeline-badge.back-to-top
        %i.fa.fa-angle-up
